
<header class="row">
    <h1 class="text-center col-md-6 col-md-offset-3">Todo List</h1>
</header>
<section class="container-fluid">
    <h3>Search:</h3><input class="input-md" ng-model="searchText" placeholder="Enter a task...">
    <br>
    <br>
    <br>
        <button class="btn btn-default" ng-click="predicate ='title'">A-Z</button>
        <button class="btn btn-default" ng-click="predicate ='-title'">Z-A</button>
        <button class="btn btn-default" ng-click="predicate ='completed'">Complete</button>
        <button class="btn btn-default" ng-click="predicate ='-completed'">Incomplete</button>
</section>
<hr>


<div ng-controller="ApiController as api">

    <input placeholder="todo" type="text" name="title"  ng-model="newTaskTitle" />
    <button class="btn btn-info" ng-click="newTask()" type="submit">Post Task</button>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Todo</th>
            <th>Due Date</th>
            <th>Completed</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks | filter:searchText | orderBy:predicate">
            <td>{{ task.title }}</td>
            <td>{{ task.due | date:'MM/dd/yyyy' }}</td>
            <td>{{ task.completed}}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button ng-click="deleteTask(task)" class="btn btn-danger">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

