<header class="row">
    <h1 class="text-center col-md-6 col-md-offset-3">Todo List</h1>
</header>
<section class="container-fluid">
    <h3>Search:</h3><input class="input-md" ng-model="searchText" placeholder="Enter a task...">
    <br>
    <br>
    <br>
        <button class="btn btn-default" ng-click="predicate ='name'">A-Z</button>
        <button class="btn btn-default" ng-click="predicate ='-name'">Z-A</button>
        <button class="btn btn-default" ng-click="predicate ='due'">High Urgency</button>
        <button class="btn btn-default" ng-click="predicate ='-due'">Low Urgency</button>
    </div>
</section>
<hr>

<div ng-controller="TodoController">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Todo</th>
            <th>Due Date</th>
            <th>Modify</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="todo in items | filter:searchText | orderBy:predicate">
            <td>{{ todo.name }}</td>
            <td>{{ todo.due | date:'MM/dd/yyyy' }}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="editUser(user.id)">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button class="btn btn-danger" ng-click="deleteTodo(todo.id)">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>